In [1]:
import requests
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime as dt

In [9]:
#Read the csv File
path19 = "./static/data/2019/combine19_update.csv"
df19 = pd.read_csv(path19)
df19.head()

,Hotel,Area,Room,Supply,Occupancy,ADR,Room_Revenue,F&B_Revenue,Total_Revenue,RevPAR,Demand,Date
0,⻄華⼤飯店,Taipei,343,10633,0.66,4589.0,32385058,24295513,63248392,3045.72,7057,1/1/2019
1,⻑榮桂冠酒店(基隆),Others,140,4340,0.74,2533.0,8174406,4349940,15325889,1883.29,3227,1/1/2019
2,三德⼤飯店,Taipei,257,7967,0.75,1906.0,11428418,5283430,18112766,1434.65,5997,1/1/2019
3,亞士都飯店,Taipei,40,1240,0.33,2440.0,1012798,0,1012798,816.67,415,1/1/2019
4,亞都麗緻⼤飯店,Taipei,209,6479,0.60,4041.0,15743425,15273435,37919852,2429.85,3896,1/1/2019

In [10]:
#Read the csv File
path20 = "./static/data/2020/combine20_update.csv"
df20 = pd.read_csv(path20)
df20.head()

,Hotel,Area,Room,Supply,Occupancy,ADR,Room_Revenue,F&B_Revenue,Total_Revenue,RevPAR,Demand,Date
0,⻄華⼤飯店,Taipei,343,10633,0.70,4310.0,31908855,25824358,63674142,3001.05,7404,1/1/2020
1,⻑榮桂冠酒店(台中),Taichung,354,10974,0.60,2730.0,17859646,45927523,69405734,1627.63,6543,1/1/2020
2,⻑榮桂冠酒店(基隆),Others,140,4340,0.68,3378.0,9931498,5939549,18889844,2288.26,2940,1/1/2020
3,⻑榮鳳凰酒店(礁溪),Others,231,7161,0.79,6807.0,38482405,25296411,72131834,5373.45,5653,1/1/2020
4,三德大飯店,Taipei,287,8897,0.29,2295.0,5836843,427245,7273263,655.91,2543,1/1/2020

In [2]:
#Read the csv File
area19 = "./static/data/2019/area19.csv"
area19 = pd.read_csv(area19)
area19.head()

,Area,Date,Room,Supply,Demand,Occupancy,ADR,RevPAR,Room_Revenue,F&B_Revenue,Total_Revenue
0,Hualien,2019-01-31,1286,39866,16481,0.41,2395.71,990.41,39483652,35525375,81968544
1,Hualien,2019-02-28,1287,36036,17038,0.47,4066.67,1922.74,69287971,37428983,117989468
2,Hualien,2019-03-31,1286,39866,17599,0.44,2630.65,1161.31,46296845,34053830,88415173
3,Hualien,2019-04-30,1286,38580,20505,0.53,9001.20,4784.08,184569625,36275692,230796216
4,Hualien,2019-05-31,1286,39866,21223,0.53,2602.26,1385.34,55227792,40847051,105775171

In [3]:
#Read the csv File
area20 = "./static/data/2020/area20.csv"
area20 = pd.read_csv(area20)
area20.head()

,Area,Date,Room,Supply,Demand,Occupancy,ADR,RevPAR,Room_Revenue,F&B_Revenue,Total_Revenue
0,Hualien,1/31/2020,1286,39866,20761,0.52,4129.70,2150.62,85736711,57657892,157866836
1,Hualien,2/29/2020,1286,37294,15833,0.42,3359.19,1426.13,53185992,29065678,92421510
2,Hualien,3/31/2020,1286,39866,11162,0.28,2686.37,752.15,29985301,18765341,55290111
3,Hualien,4/30/2020,1286,38580,11334,0.29,2908.11,854.34,32960575,16172167,55769274
4,Hualien,5/31/2020,1286,39866,19633,0.49,2434.19,1198.78,47790479,29761842,86785896

In [4]:
from sqlalchemy import create_engine

In [5]:
connection_string = "postgres:postgres@localhost:5432/hotel_db"
engine = create_engine(f'postgresql://{connection_string}', encoding = 'utf-8')

In [6]:
engine.table_names()

['jan20',
 'oct20',
 'nov20',
 'dec20',
 'area19',
 'area20',
 'dec19',
 'nov19',
 'oct19',
 'sep19',
 'jun19',
 'aug19',
 'jul19',
 'may19',
 'apr19',
 'mar19',
 'feb19',
 'jan19',
 'combine20',
 'combine19',
 'combine19_20',
 'feb20',
 'mar20',
 'apr20',
 'may20',
 'jun20',
 'jul20',
 'aug20',
 'sep20']

In [7]:
area19.to_sql(name='area19', con=engine, if_exists='append', index=False)

In [8]:
area20.to_sql(name='area20', con=engine, if_exists='append', index=False)

In [14]:
df19.to_sql(name='combine19', con=engine, if_exists='append', index=False)

In [15]:
df20.to_sql(name='combine20', con=engine, if_exists='append', index=False)

In [2]:
#Read the ods File
path = "./static/data/combine19_20.csv"
df = pd.read_csv(path)
df

,Hotel,Area,Room,Supply,Occupancy,ADR,Room_Revenue,F&B_Revenue,Total_Revenue,RevPAR,Demand,Date
0,豪景大酒店,Taipei,209,6479,0.01,2389.32,229375,0,575391,35.40,96,2020-08-01
1,義華酒店,Taipei,149,4619,0.15,3066.00,2094078,170423,2590677,453.36,683,2020-08-01
2,花蓮翰品酒店,Hualien,197,5910,0.39,2174.00,4957077,2471717,7671027,838.73,2280,2020-04-01
3,新竹國賓大飯店,Taoyuan-Hsinchu-Miaoli,257,7710,0.76,2956.70,17432680,37349358,60046930,2261.05,5896,2019-06-01
4,阿里山賓館(新館),Scenery,104,3224,0.89,5936.56,17103229,11506369,29086649,5304.97,2881,2020-08-01
...,...,...,...,...,...,...,...,...,...,...,...,...
3002,雲品溫泉酒店⽇⽉潭,Scenery,211,6330,0.67,7843.11,33435171,20973780,58381635,5282.02,4263,2019-09-01
3003,礁溪老爺大酒店,Scenery,193,5983,0.82,6882.68,33587454,23968955,69660251,5613.81,4880,2019-07-01
3004,⾼雄國賓⼤飯店,Kaohsiung,453,13137,0.41,2077.00,11124720,27331902,39698736,846.79,5356,2020-02-01
3005,名人堂花園大飯店,Taoyuan-Hsinchu-Miaoli,128,3840,0.36,5084.00,6965454,15299789,28626440,1813.97,1370,2020-06-01
3006,阿⾥⼭賓館,Scenery,35,1085,0.36,7709.00,2983363,0,2983363,2749.80,387,2020-01-01

In [4]:
df.loc[df['Hotel']=='福容大飯店(福隆)']

,Hotel,Area,Room,Supply,Occupancy,ADR,Room_Revenue,F&B_Revenue,Total_Revenue,RevPAR,Demand,Date
176,福容大飯店(福隆),Scenery,174,5394,0.27,4115.00,5942161,5211085,11259474,1101.59,1444,2020-01-01
465,福容大飯店(福隆),Scenery,174,5220,0.32,4488.00,7557057,4695784,12564927,1447.83,1684,2019-04-01
551,福容大飯店(福隆),Scenery,174,5220,0.35,5221.03,9653688,5911066,15871174,1849.37,1849,2019-09-01
645,福容大飯店(福隆),Scenery,174,5220,0.52,3733.85,10223274,7651390,18035452,1958.48,2738,2020-09-01
819,福容大飯店(福隆),Scenery,174,5394,0.31,3591.86,5869102,4612819,10638062,1124.35,1634,2019-12-01
894,福容大飯店(福隆),Scenery,174,5394,0.25,4216.00,5594269,3237351,9287309,1037.14,1327,2019-03-01
1077,福容大飯店(福隆),Scenery,174,5394,0.55,4041.94,11980298,7415157,22303813,2221.04,2964,2020-10-01
1182,福容大飯店(福隆),Scenery,174,4872,0.28,5521.00,7519118,4562661,12250440,1543.67,1362,2019-02-01
1192,福容大飯店(福隆),Scenery,174,5220,0.49,4837.63,12360147,6863428,20045694,2367.84,2555,2019-06-01
1393,福容大飯店(福隆),Scenery,174,5220,0.10,4495.00,2355548,1185659,3597225,451.30,524,2020-04-01
1507,福容大飯店(福隆),Scenery,174,5394,0.63,5318.72,18078333,9258049,28299517,3351.56,3399,2020-08-01
1512,福容大飯店(福隆),Scenery,174,5394,0.37,4945.31,9801606,7232569,17597806,1817.13,1982,2019-05-01
1582,福容大飯店(福隆),Scenery,174,5394,0.15,3757.00,3103290,3114512,6330322,575.20,826,2019-01-01
1789,福容大飯店(福隆),Scenery,174,5046,0.16,3053.00,2460762,1898984,4416344,487.56,806,2020-02-01
1858,福容大飯店(福隆),Scenery,174,5394,0.32,4742.53,8176130,5270154,13818117,1515.78,1724,2019-10-01
1980,福容大飯店(福隆),Scenery,174,5394,0.34,2862.00,5217038,3078965,8462579,967.36,1823,2020-05-01
2172,福容大飯店(福隆),Scenery,174,5220,0.31,3823.52,6236155,5867368,12253093,1194.67,1631,2020-11-01
2346,福容大飯店(福隆),Scenery,174,5394,0.54,5377.64,15756479,9944081,26360391,2921.11,2930,2019-08-01
2461,福容大飯店(福隆),Scenery,174,5394,0.23,4300.16,5250500,3539079,9001883,973.40,1221,2020-12-01
2486,福容大飯店(福隆),Scenery,174,5220,0.50,4254.00,11199984,6798003,18289226,2145.72,2633,2020-06-01
2541,福容大飯店(福隆),Scenery,174,5394,0.65,4581.12,16052260,9263608,25920136,2975.95,3504,2020-07-01
2577,福容大飯店(福隆),Scenery,174,5394,0.17,2464.00,2293870,1831715,4199965,425.29,931,2020-03-01
2653,福容大飯店(福隆),Scenery,174,5394,0.62,5619.36,18746173,9864354,29487384,3475.38,3336,2019-07-01
2892,福容大飯店(福隆),Scenery,174,5220,0.31,3592.00,5869102,4612819,10638062,1124.30,1634,2019-11-01

In [5]:
print(df.dtypes)

Hotel             object
Area              object
Room               int64
Supply             int64
Occupancy        float64
ADR              float64
Room_Revenue       int64
F&B_Revenue        int64
Total_Revenue      int64
RevPAR           float64
Demand             int64
Date              object
dtype: object

In [6]:
df['Date'] = pd.to_datetime(df['Date']).dt.to_period('M')

In [7]:
df['Date'] = df['Date'].dt.to_timestamp()

In [8]:
print(df.dtypes)

Hotel                    object
Area                     object
Room                      int64
Supply                    int64
Occupancy               float64
ADR                     float64
Room_Revenue              int64
F&B_Revenue               int64
Total_Revenue             int64
RevPAR                  float64
Demand                    int64
Date             datetime64[ns]
dtype: object

In [9]:
df.to_csv(r'.\static\data\combine19_20_update.csv', index = False, encoding='utf-8-sig')

In [9]:
#Read the ods File
path_area = "./static/data/area19_20.csv"
df_area = pd.read_csv(path_area)
df_area

,Area,Room,Supply,Demand,Occupancy,ADR,Room_Revenue,F&B_Revenue,Total_Revenue,RevPAR,Date
0,Taichung,1484,46004,25051,0.54,2471.27,61907670,97533683,186519692,1345.70,2020-12-31
1,Taichung,1484,46004,31751,0.69,2447.36,77706011,105432113,215413580,1689.11,2019-12-31
2,Others,4830,144900,86547,0.60,3302.82,285849227,229799991,577317824,1972.73,2019-04-30
3,Hualien,1286,39866,22427,0.56,3312.51,74289559,48755635,136250608,1863.48,2019-10-31
4,Taipei,11149,345619,261146,0.76,4423.48,1155174757,1172107112,2664398419,3342.34,2019-10-31
...,...,...,...,...,...,...,...,...,...,...,...
187,Kaohsiung,4041,125271,81481,0.65,2191.99,178605733,215020913,432104760,1425.75,2019-05-31
188,Overall,27925,865675,391179,0.45,3734.55,1460876555,2310227260,4254115135,1687.56,2020-12-31
189,Scenery,2864,88784,63925,0.72,6199.62,396310530,151268451,601660272,4463.76,2020-07-31
190,Overall,28503,855090,293415,0.34,3364.63,987231644,1505597842,2898421619,1154.54,2020-06-30
191,Taoyuan-Hsinchu-Miaoli,3695,103460,67048,0.65,2781.66,186504853,186922519,406107484,1802.68,2019-02-28

In [12]:
df_area.loc[df_area['Area']=='Taipei']

,Area,Room,Supply,Demand,Occupancy,ADR,Room_Revenue,F&B_Revenue,Total_Revenue,RevPAR,Date
4,Taipei,11149,345619,261146,0.76,4423.48,1155174757,1172107112,2664398419,3342.34,2019-10-31
12,Taipei,11100,344100,122211,0.36,3124.25,381818148,1048135087,1650824173,1109.61,2020-10-31
27,Taipei,11120,333600,105409,0.32,3008.76,317150358,1022047703,1541256657,950.69,2020-09-30
34,Taipei,11259,349029,37835,0.11,3714.46,140536529,467940797,778224388,402.65,2020-03-31
39,Taipei,11120,344720,89133,0.26,3022.30,269386399,887936336,1376915761,781.46,2020-07-31
44,Taipei,11259,337770,66712,0.20,2904.82,193786199,785011630,1175745060,573.72,2020-06-30
56,Taipei,11251,348781,217938,0.62,4504.86,981779490,1732038468,3078170169,2814.89,2020-01-31
58,Taipei,11149,345619,281554,0.81,4504.09,1268143332,1305931396,2940105569,3669.19,2019-12-31
81,Taipei,11255,337650,281554,0.83,4504.09,1268143332,1305931396,2940105569,3755.79,2019-11-30
89,Taipei,11259,337770,29447,0.09,3271.00,96320992,385070249,629115519,285.17,2020-04-30
93,Taipei,11138,334140,226577,0.68,4192.23,949863610,1161302037,2457922813,2842.71,2019-09-30
97,Taipei,11220,347820,282999,0.81,4349.45,1230890213,1209054922,2793095656,3538.87,2019-03-31
104,Taipei,11218,314104,224765,0.72,4278.39,961632272,1201234324,2475938817,3061.51,2019-02-28
124,Taipei,11136,334080,235972,0.71,4185.90,987754772,1189928459,2514257667,2956.64,2019-06-30
126,Taipei,11177,324133,98925,0.31,3896.58,385469414,643959444,1230349337,1189.23,2020-02-29
127,Taipei,11138,345278,263671,0.76,4591.49,1210643427,1227430063,2803080462,3506.29,2019-05-31
137,Taipei,11259,349029,43264,0.12,2949.82,127620805,681251915,1019423373,365.65,2020-05-31
144,Taipei,11251,337530,258825,0.77,4342.18,1123863775,987826347,2425018796,3329.67,2019-04-30
151,Taipei,11131,345061,261189,0.76,4200.02,1096999342,1078401623,2483648072,3179.15,2019-08-31
153,Taipei,11210,347510,246082,0.71,4414.34,1086289575,1599957459,3054642156,3125.92,2019-01-31
156,Taipei,11055,342705,128752,0.38,3534.55,455081004,1259684310,1973970596,1327.91,2020-12-31
160,Taipei,11135,345185,246471,0.71,4114.21,1014034070,1033219826,2358991765,2937.65,2019-07-31
172,Taipei,11120,344720,124151,0.36,2833.91,351832812,941810619,1538062825,1020.63,2020-08-31
177,Taipei,11099,332970,92373,0.28,3215.87,297059439,1004519784,1513108086,892.15,2020-11-30

In [13]:
print(df_area.dtypes)

Area              object
Room               int64
Supply             int64
Demand             int64
Occupancy        float64
ADR              float64
Room_Revenue       int64
F&B_Revenue        int64
Total_Revenue      int64
RevPAR           float64
Date              object
dtype: object

In [15]:
df_area['Date'] = pd.to_datetime(df_area['Date']).dt.to_period('M')

In [16]:
df_area['Date'] = df_area['Date'].dt.to_timestamp()

In [17]:
print(df_area.dtypes)

Area                     object
Room                      int64
Supply                    int64
Demand                    int64
Occupancy               float64
ADR                     float64
Room_Revenue              int64
F&B_Revenue               int64
Total_Revenue             int64
RevPAR                  float64
Date             datetime64[ns]
dtype: object

In [19]:
df_area.to_csv(r'.\static\data\area19_20_update.csv', index = False, encoding='utf-8-sig')